<head>
  <title>todo</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="container">
   
<!--
    <div class="button-group filters-button-group center-button">
      <button class="waves-effect waves-light btn" data-filter="*">All Tasks</button>
      <button class="waves-effect waves-light btn" data-filter=".active">Active Tasks</button>
      <button class="waves-effect waves-light btn" data-filter=".completed">Completed Tasks</button>
    </div>
-->
    
    {{> header}}
    
    {{> todos}}
    
    {{> form}}
  </div>
  
</body>