.completed {
  text-decoration: line-through;
}

.secondary-content a {
  margin: 0 0.5em;
}

.complete-task {
  color: #069d00;
}

.incomplete-task {
  color: #b91f1f;
}

.revise-task {
  color: darkslategray;
}

i {
  cursor: pointer;
}

.center-button {
  text-align: center;
}

.input-field {
  margin: 0 auto;
  width: 75%;
}

.text-center {
  text-align: center;
}